<?php

define('DEBUG', true);

/**
 **************************************
 **** GENERAL SERVICES CONFIGURATION **
 **************************************
 *
 * Database configuration
 */
define('DB_USERNAME', 'db_username');
define('DB_PASSWORD', 'db_password');
define('DB_HOST', 'db_host');
define('DB_NAME', 'db_name');

/**
 * Mail configuration
 */
define('MAIL_SERVER', "mail_server");
define('MAIL_SERVER_PORT', 0);
define('MAIL_FROM', "mail@you.want");

/**
 * Redis configuration
 */
define('REDIS_IP', 'redis_ip');
define('REDIS_PORT', 0);

/**
 * Defining log routes
 */
define('PROD_LOG', "/var/log/pushapi/production-errors.log");
define('DEV_LOG', "/var/log/pushapi/development-errors.log");
define('PROD_SEND_LOG', "/var/log/pushapi/production-send-messages.log");
define('DEV_SEND_LOG', "/var/log/pushapi/development-send-messages.log");
define('ANDROID_SEND_LOG', "/var/log/pushapi/android-send-messages.log");
define('IOS_SEND_LOG', "/var/log/pushapi/android-send-messages.log");


/**
 ****************************
 **** PUSH DEVICES OPTIONS **
 ****************************
 *
 * Defining Android params
 *
 * INFO: You should create a project on https://console.developers.google.com and once activate the
 * Push Notification service, create a "Key for server applications"
 */
define('ANDROID_KEY', "private_android_key");
define('GCM_URL', "https://android.googleapis.com/gcm/send");

/**
 * Defining iOs params
 *
 * INFO: You must get separate certificates for the development environment and the production
 * environment. The certificates are associated with an identifier of the app that is the
 * recipient of remote notifications; this identifier includes the app’s bundle ID.
 *
 * DEVELOP ENVIRONMENT
 *
 * INFO: Use the development environment for initial development and testing of the provider app.
 */
define('CERTIFICATE_PATH_DEVELOP', '/path/to/dev-certificate.pem');
define('CERTIFICATE_PASSPHRASE_DEVELOP', 'passphrase');
define('APNS_URL_DEVELOP', "ssl://gateway.sandbox.push.apple.com:2195");
define('APNS_URL_FEEDBACK_DEVELOP', "ssl://feedback.sandbox.push.apple.com:2196");
/**
 * PRODUCTION ENVIRONMENT
 *
 * INFO: Use the production environment when building the production version of the provider app.
 */
define('CERTIFICATE_PATH', '/path/to/certificate.pem');
define('CERTIFICATE_PASSPHRASE', 'passphrase');
define('APNS_URL', "ssl://gateway.push.apple.com:2195");
define('APNS_URL_FEEDBACK', "ssl://feedback.push.apple.com:2196");


/**
 **********************************
 **** PUSH NOTIFICATIONS OPTIONS **
 **********************************
 *
 * Title of the Push notification
 */
define('PUSH_TITLE', "Example");

// When redirect values are required for each push notification, the PushApi will be more restrictive
define('REDIRECT_REQUIRED', false);

// Only applied on Unicast messages (if it is wanted to send only one message per day of the same "theme")
define('SENDING_LIMITATION', false);